Options +FollowSymlinks
RewriteEngine On

# MEDECINS
RewriteRule ^medecins$ /cabinet/api/medecinsapi/index.php
RewriteRule ^medecins/([0-9]+)$ /cabinet/api/medecinsapi/index.php?id_medecin=$1

# USAGERS
RewriteRule ^usagers$ /cabinet/api/usagersapi/index.php
RewriteRule ^usagers/([0-9]+)$ /cabinet/api/usagersapi/index.php?id_usager=$1

# CONSULTATIONS
RewriteRule ^consultations$ /cabinet/api/consultationsapi/index.php
RewriteRule ^consultations/([0-9]+)$ /cabinet/api/consultationsapi/index.php?id=$1